@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;
    /* font-weight: 200; */
    /* scroll-behavior: smooth; */
}

body {
    background-color: #2F2F2F !important;
    font-family: 'Poppins', sans-serif;
}


.nav-bar {
    /* position: relative; */
    /* width: 100%; */
    height: 50px;
    width: 100%;
    padding: 10px;
}

.nav-bar .logo {
    float: left;
    height: 5rem;
}

.nav-bar .logo img{
    height: 100%;
    float: left;
}

.nav-bar .logo span {
    font-size: 3rem;
    color: white;
    margin: 50px 0px;
}

.nav-bar .logo .first-name {
    color: #B37133 !important;
}

.nav-bar .nav-bar-links {
    float: right;
}

.nav-bar .nav-bar-links a, .nav-bar .nav-bar-linksa:visited{
    color: white;
    margin: 0px 5px;
    font-size: 2rem;
    text-decoration: none;
}

.home-container {
    height: calc(100vh - 5rem);
    position: relative;
}

.ug-home-image {
    height: 95vh;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-100%);
}

.home-container h1 {
    /* font-size: 7vw; */
}

.home-heading-1 {
    font-size: 10rem;
    font-weight: 400;
    color: #B37133;
    position: absolute;
    top: 30%;
    left: 15%;
    transform: translate(0%, -100%);
}

.home-heading-2 {
    font-size: 8rem;
    font-weight: 300;
    color: #B37133;
    position: absolute;
    top: 30%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
}

.ug-code-name {
    width: 250px;
    height: 130px;
    top: 30%;
    left: 12%;
    font-size: 1.7rem;
    background: linear-gradient(#2F2F2F, #E8AB73, #CAB9AA);
    position: absolute;
    border-radius: 19px;
    background: linear-gradient(283deg, #2F2F2F 0%, #E8AB73 0.01%, #CAB9AA 100%);
    padding: 12px 20px;
    /* text-align: ; */
}

.ug-code-name span {
    color: #B37133;
}

.arrow-down {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #B37133;
    position: fixed;
    top: 97%;
    left: 2%;
    transform: translate(0%, -100%);
}

.arrow-down img {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-quote {
    color: #CAB9AA;
    font-size: 15px;
    text-wrap: nowrap;
    position: absolute;
    top: 37%;
    left: 83%;
    transform: translate(-50%, -50%);
}

.ug-follow-me {
    display: inline-block;
    position: relative;
    top: 80%;
    left: 55%;
    transform: translate(0%, -100%);
}

.ug-follow-me h2 {
    display: inline-block;
    color: #CAB9AA;
    font-size: 40px;
    font-weight: 400;
}

.ug-follow-me .follow-links {
    width: 315px;
    height: 50px;
}

.ug-follow-me .follow-links img{
    width: 50px;
    height: 50px;
}


/* .ug-background-boxes {
    width: 100vw;
    height: 100vh;
    position: relative;
} */

.ug-background-box1 {
    height: 611px;
    width: 524px;
    /* height: 56.574074%;
    width: 27.291666%; */
    background-color:  #CAB9AA;
    position: fixed;
    margin-top: -100vh;
    transform: rotate(34.331deg);
    top: 114%;
    left: 34%;
    z-index: -10;
    /* transition: transform 0.1s ease-in-out; */
}

.ug-background-box2 {
    height: 611px;
    width: 524px;
    /* height: 56.574074%;
    width: 27.291666%; */
    background-color:  #B37133;
    position: fixed;
    margin-top: -100vh;
    transform: rotate(34.331deg);
    top: 155%;
    left: 55%;
    z-index: -10;
}





.hi {
    background-color: aliceblue;
    height: 100vh;
    width: 10px;
}